<h1 id="board-title"><%= board.get('title') %></h1>
<form id="new-list">
<input type="text" name="list[title]">
<input type="hidden" name="list[ord]"
       value="<%= board.lists().models.length + 1 %>">
<input type="hidden" name="list[board_id]"
       value="<%= board.id %>">
<button>New List</button>
</form>



<ul id="board" class="group"></ul>
<a class="centered-link" href="#"><h3>Back to My Boards</h3></a>
