body {
  background-color: gray;
  color: black;
}

/*NAVBAR*/

#jello {
  width: 100px;
  height: 30px;
}
.navbar.navbar-default {
  background-color: #99FF33;
}
.navbar-btn {
  background-color: black;
  border: 1px solid black;
}
.navbar-brand {
  position: relative;
}
li.navbar-brand span {
  position: absolute;
  color: black;
  font-size: 12px;
  left: -80px;
}
a.navbar-brand img {
  position: absolute;
  top: 10px;
}

/*MAIN*/

.group:after {
  display: block;
  content: "";
  clear: both;
}

#board-title {
  text-align: center;
}

#new-list {
  display: block;
  float: right;
  padding: 10px;
}

#new-list button {
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 10px;
}


.list-container {
  display: block;
  float: left;
  border: 2px solid #99FF33;
  border-radius: 10px;
  padding: 5px;
  margin: 0px 5px;
}
