body {
  background-color: gray;
  color: black;
}

/*NAVBAR*/

#jello {
  width: 100px;
  height: 30px;
}
.navbar.navbar-default {
  background-color: #99FF33;
}
.navbar-btn {
  background-color: black;
  border: 1px solid black;
}
.navbar-brand {
  position: relative;
}
li.navbar-brand span {
  position: absolute;
  color: black;
  font-size: 12px;
  left: -80px;
}
a.navbar-brand img {
  position: absolute;
  top: 10px;
}

/*MAIN*/

body a {
  color: #99FF33;
}

body a:hover {
  color: white;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

#board-title {
  text-align: center;
}

#new-list {
  display: block;
  float: right;
  padding: 10px;
}

#new-list button {
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 10px;
}

.board-name {
  font-size: 20px;
}

#board-index {
  list-style-type: none;
}

.list-container {
  display: block;
  float: left;
  border: 2px solid white;
  border-radius: 10px;
  margin: 0px 5px;
  background-color: #99FF33;
}

.list-container h2 {
  text-align: center;
}

.list-container ul {
  text-align: center;
}

.list-container .add-card {
  display: none;
}

.list-container:hover .add-card {
  display: block;
  margin: auto;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.list ul {
  list-style-type: none;
  padding-left: 0;
}

.card-container {
  border-top: 2px solid white;
  padding: 5px;
}

.card-container .add-item {
  display: none;
}

.card-container:hover .add-item {
  display: block;
  margin: auto;
}

.add-item {
  color: black;
  font-size: 10px;
}

.add-item:hover {
  color: white;
}

.add-card {
  color: black;
  font-size: 16px;
  padding-left: 40px;
}

.add-card:hover {
  color: white;
}

.centered-link {
  text-align: center;
}
