<!-- template renders in view with parent element of <ul> -->
<h1><%= board.get('title') %></h1>
<h2>Lists:</h2>
<ul></ul>
<input id="new-list-input" type="text" name="list[title]">
<button id="new-list-button">New List</button>
